@charset "utf-8";
/* CSS Document */

/************************************************
	common
************************************************/


*{margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
html{height:100%;}
body{height:100%;font-family:Arial, sans-serif; color:#333; font-size:15px; -webkit-text-size-adjust:none;}
input, textarea, select{font-family:Arial, sans-serif; color:#333; font-size:15px;}
input[type=text], input[type=password], input[number]{padding:0 15px;border:none;box-sizing:border-box;}
input[type=submit],input[type=image],input[type=button]{cursor:pointer;}
button{font-family:Arial, sans-serif;border:none;color:#444;cursor:pointer;font-size:15px;}
ol, ul, li{list-style:none;}
img, iframe, fieldset{border:none;}
h1, h2, h3, h4, h5, h6{font-size:1.0em;}
em, i, address{font-style:normal;}
table, tr, td{ border-collapse:collapse;}
table{width:100%;}
caption, legend, .hide {text-indent:-5555px; width:0; height:0; visibility:hidden; font-size:0; line-height:0; position:absolute; top:-5555px; left:-5555px;}/* For Screen Reader */
pre{margin:0;padding:0;white-space: pre-wrap;word-wrap: break-word;font-family:Arial, sans-serif;}

a{color:#444; text-decoration:none;}

img{max-width:100%;}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display: none;}


/********** class ***************/
#divAccessibility{
	display:block;
	height:0;
	overflow:hidden;
	position:absolute;
	top:-5000px;
}
.blind{display:block;overflow:hidden;top:-1000em;position:absolute;}


/************ color *****************/
.c_red{color:#db2a24 !important;}

/************ input *****************/
.input{height:45px;}
.input.style1{width:100%;border:1px solid #d8d8d8;border-radius:5px;}

/************ paging *****************/
.paging{text-align:center;}
.paging a{display:inline-block;width:26px;height:26px;line-height:27px;color:#767676;font-size:13px;margin:0 2px;border:1px solid #dadada;}
.paging a:hover, .paging a.on{background:#c3251d;border-color:#c3251d;color:#fff;}
.paging a.prev1{margin-right:6px;}
.paging a.next1{margin-left:6px;}
