@charset "utf-8";
/* CSS Document */

@import url('common.css');

/************************************************
	layout
************************************************/
#wrapper{position:relative;min-height:100%;background:#eeeeee;}

/*======== 고정영역 레이아웃 ============*/
/* 헤더영역 */
#main_header{min-width:1080px;border-top:1px solid #333333;background:#fff;}
#main_header .logo{padding:24px 0 29px;text-align:center;}
#gnb{border-top:1px solid #eeeeee;}
#gnb ul{overflow:hidden;width:1080px;margin:0 auto;}
#gnb ul li{float:left;padding:20px 0;margin-right:60px;}
#gnb ul li.last{margin-right:0;}
#gnb ul li a{font-size:16px;}
#gnb ul li.on a, #gnb ul li a:hover{color:#c3251d;}

/* 컨텐츠 영역 */
#container_wrap{overflow:hidden;width:1080px;margin:0 auto;padding:40px 0;}

/* 푸터 영역 */





































